USE [master]
GO
/****** Object:  Database [Chat2]    Script Date: 21/05/2016 19:31:26 ******/
CREATE DATABASE [Chat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chat2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Chat2.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Chat2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Chat2_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chat]
GO
/****** Object:  Table [dbo].[mensaje]    Script Date: 21/05/2016 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mensaje](
	[idMensaje] [int] IDENTITY(1,1) NOT NULL,
	[detalleMensaje] [varchar](8000) NULL,
	[hora] [datetime] NULL,
	[entregado] [bit] NULL,
	[esPrivado] [bit] NULL,
	[esGrupal] [bit] NULL,
	[esGeneral] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idMensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mesaje_x_usuario]    Script Date: 21/05/2016 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesaje_x_usuario](
	[idUsuario] [int] NULL,
	[idMensaje] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[usuario]    Script Date: 21/05/2016 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[pass] [varbinary](8000) NULL,
	[logueado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[mesaje_x_usuario]  WITH CHECK ADD  CONSTRAINT [FK_idMensaje] FOREIGN KEY([idMensaje])
REFERENCES [dbo].[mensaje] ([idMensaje])
GO
ALTER TABLE [dbo].[mesaje_x_usuario] CHECK CONSTRAINT [FK_idMensaje]
GO
ALTER TABLE [dbo].[mesaje_x_usuario]  WITH CHECK ADD  CONSTRAINT [FK_idUsuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[mesaje_x_usuario] CHECK CONSTRAINT [FK_idUsuario]
GO
USE [master]
GO
