@charset "utf-8";
/* CSS Document */

.strength_meter{
	height: 100%;
    width: 100%;
	background: silver;	
}
.strength_meter div{
	height:23px;
	width:100%;
	height:23px;
	text-align:center;
	color:black;
	font-weight:bold;
	line-height:23px;
}
.muyInsegura{
	background-color: #FF0000;
    border-color: #F04040!important
}
.insegura{
    background-color: #FF9999;
    border-color: #FF853C!important;
}
.segura{
    background-color: #FFEC8B;
    border-color: #FC0!important;
}
.muySegura{
    background-color: #C3FF88;
    border-color: #8DFF1C!important;
}